.posts {
  display: grid;
  justify-content: center;
  text-align: center;

  .postsHead {
    font-size: 1.4rem;
  }

  .setposts {
    // margin-top: 3rem;
    background-color: #fff;
    border-radius: 20px;
    padding: 1rem 2rem;
    max-height: 120vh;
    margin-bottom: 5rem;
    align-self: center;
    max-width: 45vw;
    .setprofile {
      display: grid;
      grid-template-columns: repeat(2, auto);
      align-items: center;
      justify-content: space-between;
      .profile {
        display: flex;
        gap: 20px;
        align-items: center;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        .setname {
          font-size: 0.9rem;
          line-height: 1.3rem;
          span {
            font-size: 0.7rem;
          }
        }
      }
    }
    .setimage {
      text-align: center;
      max-width: 540px;
      max-height: 566px;
      overflow: hidden;
      margin-left: 2.4rem;

      img {
        max-width: 45vw;

        height: 70vh;
      }
      video {
        max-height: 70vh;
        max-width: inherit;
      }
    }
    .reaction {
      display: grid;
      grid-template-columns: repeat(3, 240px);
      margin-top: 1.5rem;
      .like {
        display: flex;
        width: 30px;
        height: 30px;
        align-items: center;
        gap: 12px;
        p {
          display: flex;
          gap: 7px;
        }
      }
      .comments {
        display: flex;
        width: 30px;
        height: 30px;
        align-items: center;
        gap: 12px;
        p {
          display: flex;
          gap: 7px;
        }
      }
      .share {
        display: flex;
        width: 26px;
        height: 30px;
        align-items: center;
        gap: 12px;
        margin-left: 3rem;

        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
