.nav {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: #fff;
  padding: 25px 0;
  grid-column: 1/6;
  position: sticky;
  z-index: 1000;
  top: 0;

.left{
  position: relative;
  display: grid;
grid-template-columns: repeat(2, auto);
grid-template-rows: repeat(2, auto);
margin-left: 2rem;
align-content: center;

  span{
   color: darkgoldenrod;
   font-size: x-large;
   display: grid;
   align-items: center;
  }
}
  .center {
    display: flex;
    position: relative;
    align-items: center;
    gap: 22px;
    margin-left: 13rem;
    /* justify-content: center; */
    .searchBar {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      input {
        padding: 11px 45px;
        border: none;
        // border-bottom: 1px solid black;
        border-radius: 20px;
        background-color: #eee;
        font-size: 1rem;
        outline: brown;
      }

      img {
        width: 15px;
        height: 15px;
        position: absolute;
        left: 88%;
        border-radius: 50%;
        background: none;
        color: #eb3535;
      }
    }

    img {
      width: 25px;
      height: 25px;
      padding: 8px;
      background-color: #f5f5f5;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .right {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    img {
      width: 25px;
      height: 25px;
      padding: 8px;
      background-color: #eee;
      border-radius: 50%;
      cursor: pointer;
      align-self: center;
      text-align: center;
    }
    .profile {
      position: relative;
      margin-top: 8x;
      
      .profile_text {
        position: absolute;
        font-size: 0.7rem;
        left: -24px;
        top: 2.5rem;
        background-color: white;
        padding: 10px 15px;
        opacity: 0;

        p {
          cursor: pointer;
        }
      }
      .profileimg:hover + .profile_text{
        
          opacity: 1;
        
      }
      .profile_text:hover{
        opacity: 1;
      }
    }
  }
}
