.center {
  margin: 3rem 1rem 0 2rem;
  font-family: poppins;
  // background-color: #fff;

  .stories {
    display: flex;
    padding-left: 1rem;
    gap: 1rem;
    justify-content: center;

    .storiecontainer {
      width: 142px;
      height: 207px;
      position: relative;
      border-radius: 20px;
      background-color: #fff;
      overflow: hidden;
      color: #fff;
      cursor: pointer;
      display: grid;

      img {
        width: inherit;
        height: inherit;
      }
      .storie {
        position: absolute;
        top: 60%;
        // left: 20%;
        line-height: 0;
        display: grid;
        justify-self: center;
        justify-items: center;
        font-weight: 400;
        font-size: 0.9rem;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
    }
  }

  .createposts {
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 20px;
    // text-align: center;
    padding: 1rem;

    .createpost {
      display: flex;
      align-items: center;
      text-align: center;
      gap: 20px;

      img {
        width: 30px;
        height: 30px;
      }
      p {
        font-size: 12px;
        margin: 0;
        padding: 0;
      }
    }
    .textarea {
      position: relative;
      textarea {
        margin-top: 1.4rem;
        width: 82%;
        padding: 0.5rem 3rem;
        height: 14vh;
        border-radius: 12px 12px 0 12px;
        border: 2px solid #acaaaa3d;
      }
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        left: 6px;
        top: 26px;
      }
    }

    .postsvg {
      display: grid;
      grid-template-columns: repeat(3, auto) 171px;
      justify-items: center;
      margin-top: 0.6rem;
      font-size: 13px;
      align-items: center;
      .svg {
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
        img {
          width: 30px;
          height: 30px;
          cursor: pointer;
        }
      }
      .dot {
        position: absolute;
        right: 33%;
        cursor: pointer;
      }
    }
  }

  // all posts

  .setposts {
    margin-top: 3rem;
    background-color: #fff;
    border-radius: 20px;
    padding: 1rem 2rem;
    max-height: 120vh;
    margin-bottom: 5rem;
    .setprofile {
      display: grid;
      grid-template-columns: repeat(2, auto);
      align-items: center;
      justify-content: space-between;
      .profile {
        display: flex;
        gap: 20px;
        align-items: center;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        .setname {
          font-size: 0.9rem;
          line-height: 1.3rem;
          span {
            font-size: 0.7rem;
          }
        }
      }
    }
    .setimage {
      text-align: center;
      max-width: 540px;
max-height: 566px;
overflow: hidden;
margin-left: 2.4rem;

      img {
        max-width: 45vw;
     
        height: 70vh;
      }
      video{
        max-height: 70vh;
        max-width: inherit;
      }
    }
    .reaction {
      display: grid;
      grid-template-columns: repeat(3, 240px);
      margin-top: 1.5rem;
      .like {
        display: flex;
        width: 30px;
        height: 30px;
        align-items: center;
        gap: 12px;
        p{
          display: flex;
          gap: 7px;
        }
      }
      .comments {
        display: flex;
        width: 30px;
        height: 30px;
        align-items: center;
        gap: 12px;
        p{
          display: flex;
          gap: 7px;
        }
        
      }
      .share {
        display: flex;
        width: 26px;
        height: 30px;
        align-items: center;
        gap: 12px;
        margin-left: 3rem;

        img{
          width: 25px;
        height: 25px;
        }
      }
    }
  }
}
